<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pramudana.sam.gobekasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WisataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TourismActivity" />
        <activity
            android:name=".DetailTourism"
            android:label="@string/title_activity_detail_tourism"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KulinerActivity" />
        <activity android:name=".TourismDetail" />
        <activity android:name=".KulinerDetail" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".HotelDetail"></activity>
    </application>

</manifest>